<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .note { color: grey; font-size: 0.8em; font-weight: bold; }
      .valid-text { color: green; border-color: green; }
      .invalid-text { color: red; border-color: red; }
      .valid-border { border-color: green; }
      .invalid-border { border-color: red; }
    </style>
  </head>
<body>
  <div class="container" ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>

      <div class="form-group">
        <!-- An empty entry is not counted as valid lunch food -->
        <input id="lunch-menu" type="text"
          placeholder="list comma separated dishes you usually have for lunch (empty entries are not counted)"
          class="form-control" ng-model="lunchMenu" ng-class="checkBorderClass">
      </div>
      <div class="form-group">
        <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
      </div>
      <div class="form-group message">
        <span ng-class="checkTextClass">{{lunchAdvise}}</span>
      </div>
  </div>

  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
